<!DOCTYPE html>
<html>
  <body>
    <div>
        {{{body}}}
    </div>
    <p>Chúc bạn có trải nghiệm tuyệt vời.</p>
    <strong>Trân trọng,</strong>
    <p>Đội ngũ <a href="https://ebookapp.com">Ebook App</a></p>
  </body>
</html>
